# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# Python cache & virtualenv
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Temporary audio test folders & outputs
test_in/
test_out/
*.tmp
*.log
